/*! andresideas.com/ */
@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------
  // RESET
---------------------------------------------------*/
.clear:after {
    clear: both;
    content: "";
    display: block;
}
.last {
    margin-right: 0px !important;
}
.last-bottom {
    margin-bottom: 0px !important;
}
img, a, div, input, textarea, select {
    outline: none;
    border: none;
}
textarea {
    resize: none
}
.hider {
    display: none;
}
.cont-visible {
    display: block !important;
}
.mobile-visible {
    I
    display: none;
}
.mobile-hider {
    display: block;
}
.table-hider {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-collapse: separate;
    border-spacing: 0px;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    text-decoration: none;
}
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   FONT
   ========================================================================== */
@font-face {
    font-family: century;
    src: url("fonts/GOTHIC.eot?#iefix");
    /* For IE browsers */
}
@font-face {
    font-family: century;
    src: url("fonts/GOTHIC.eot");
    /* For IE browsers */
}
@font-face {
    font-family: century;
    src: url("fonts/GOTHIC.ttf");
    /* For most other browsers */
}
@font-face {
    font-family: century;
    src: url("fonts/GOTHIC.woff");
    /* For most other browsers */
}

/* ==========================================================================
   LOADING
   ========================================================================== */
div#load_screen {
    background: #fff;
    opacity: 1;
    position: fixed;
    z-index: 60;
    top: 0px;
    width: 100%;
    height: 1600px;
}
div#load_screen > div#loading {
    color: #0f8dcd;
    background: url(../images/virtualab.png);
    background-repeat: no-repeat;
    background-position:10px 15px;
    width: 120px;
    height: 120px;
    margin: 250px auto;
    text-align:align;
    font-family:century;
    font-size:16px;
    position:relative;
    
    
}
#loading p{
    text-align:center;
}



/*--------------------------------------------------
  // RESPONSIVE NAV
---------------------------------------------------*/
#main_navigation {
    float: right;
    margin-right: 20px;
    margin-top: -18px;
    position: relative;
    left: 30px;
}
#main_navigation li {
    display: inline;
    width: 120px;
}
.header-nav {
    width: 100%;
    height: 68px;
    float: left;
    display: none;
}
.navigation {
    float: left;
    width: 100%;
    display: block;
}
#primary-menu {
    float: right;
    display: none;
}
#primary-menu ul {
    float: left;
    height: 68px;
    list-style: none;
    position: relative;
    z-index: 28;
}
#primary-menu li {
    float: left;
    height: 68px;
    margin: 0px 10px;
}
#primary-menu li a {
    height: 18px;
    float: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #132530;
    padding: 25px 2px;
    text-transform: uppercase;
}
#primary-menu li a:hover {
    color: #FFF;
    background-image: none;
}
#primary-menu li a.active {
    color: #FFF;
    background: #0f8dcd;
}

.menu-icon {
    height: 80px;
    float: left;
    clear: both;
    display: none;
    position: relative;
    z-index: 200;
}
.menu-icon a {
    height: 18px;
    float: left;
    padding: 50px 40px 11px 40px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #132530;
    text-transform: uppercase;
    text-align: right;
    background: url(../images/nav-select.png) no-repeat right;
}

/*--------------------------------------------------
  // INSIDE GNMP
---------------------------------------------------*/
.inside{
  width:100%;
  height: 100%;
  position: fixed;
}
.g_col1{
  width: 50%;
  height: 100%;  
  float:left;
}
.g_col2{
  width: 50%;
  height:100%;  
  float:right;
}
.g_col1_row1{
  height:50%;
  background-color: #0000ff;
}
.g_col1_row2{
  height:50%;
  background-color: #a4a4a4;
}
.g_col2_row1{
  height:50%;
  background-color: #ff0000;
}
.g_col2_row2{
  height:50%;
  background-color: #00ff00;
}
/*--------------------------------------------------
  // Responsive CSS
---------------------------------------------------*/

@media screen and (min-width: 960px) and (max-width: 1200px) {

}
@media screen and (min-width: 720px) and (max-width: 959px) {

.table-hider {
  display: none;
}

}
@media screen and (min-width: 480px) and (max-width: 719px) {

.mobile-hider {
  display: none;
}

}
@media screen and (min-width: 20px) and (max-width: 479px) {
    .mobile-hider {
        display:none;
    }
    .mobile-visible {
        display: block;
    }
    
    .mobile {
        display: block;
    }
    .monitor {
        display: none
    }
    
    /* ==========================================================================
       NAV
       ========================================================================== */
    .header-nav {
        position: absolute;
        top: 0px;
        display: block;
    
    }
    #primary-menu {
        width: 100%;
        float: left;
        height: 40px;
        display:block;
    }
    #primary-menu select {
        display: block;
    }
    .menu-icon {
        display: block;
    }
    #primary-menu ul {
        float: left;
        height: auto;
        width: 100%;
        display: none;
        margin: 0px 0 0 0;
    
    }
    #primary-menu li {
        float: left;
        width: 100%;
        height: auto;
        margin: 0px 0px 0px 0px !important;
        background-color: #eeeeee;
        border-bottom: 1px solid #898989;
        font-family: century;
    }
    
    #primary-menu li:hover {
        background-color: #0f8dcd;
    }
    #primary-menu li a {
        width: 100%;
        height: 43px;
        float: left;
        padding: 12px 0px 12px 0px;
        color: #0c4a6e;
        text-transform: uppercase;
        background-image: none;
        text-align: center;
    }
    


}